body {
	background-color: rgb(16, 16, 16);
}

h1 {
	color: #fff;
	text-transform: uppercase;
	border: 2px solid white;
	padding: 5px 10px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  /* transform: translateY(10%); */
}

.calc-wrapper {
	background-color: rgb(255, 255, 255);
	width: 400px;
	border-radius: 16px;
  border: 4px solid rgba(145, 143, 143, 0.826) ;
  box-shadow: rgba(255, 255, 255, 0.444) 0px 3px 8px;
}

.row {
	display: flex;
}

.bgNumber {
	background-color: rgba(220, 220, 220, 0.158);
	padding: 0px 10px 10px 10px;
  border-top: 1px solid rgb(207, 207, 207);
}

.line {
  display: block;
	width: 30px;
	height: 3px;
	background-color: rgb(113, 114, 114);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  
}

